.new-list-btn {
    position: relative;
    font-size: 2rem;
    right: 15px;
}

.new-list-btn img {
    position: relative;
    top: 5px;
    margin-left: 10px;
}

.new-list-feild {
    padding-bottom: 3rem;
    border-bottom: 1px solid #000;
}

.submit-list-btn {
    padding-bottom: 8px;
    margin-top: 0 !important;
}

#create-list-form {
    display: none;
    padding-left: 5rem;
}

.lists {
    display: grid;
    gap: 10px;
    margin-top: 3rem;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
    .lists {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .lists {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1440px) {
    .lists {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.list {
    background: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    height: 10rem;
    width: 100%;
    border-radius: 10px;
    font-size: 2rem;
    padding: 10px;
}


.list__name {
    display: flex;
}
