*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.15s;
}

:root {
	--color-primary: rgb(0, 125, 243);
	--color-secondary: rgb(125, 125, 251);
}

html {
	/* this makes the rem unit worth 10 pixels when using normal font size in browser */
	font-size: 62.5%;
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
}

main {
	height: calc(100vh - 69px);
	background: rgb(255, 255, 255);
	background: radial-gradient(circle, rgba(255, 255, 255, 1) 12%, rgba(204, 204, 204, 1) 98%);
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	padding: 0 10rem;
}

@media screen and (max-width: 768px) {
	.container {
		padding: 0 10px;
	}
}

.btn {
	padding: 10px 15px;
	font-size: 1.5rem;
	border-radius: 5px;
	width: calc(fit-content + 5px) !important;
	border: 0;
	cursor: pointer;
	outline: none;
}

.btn--primary {
	color: #fff;
	background: var(--color-primary);
}

.btn--none {
	color: #999;
	background: none;
	text-decoration: underline;
}

.btn--red-outline {
	color: red;
	background: none;
	border: 1px solid red;
}

.btn--red-outline:hover {
	color: #fff;
	background: red;
	border: 1px solid red;
}

.btn--primary:hover,
.btn--primary:focus {
	background-color: rgb(112, 183, 255);
}

.btn--text {
	background: none;
	color: #000;
}

.btn--text:hover {
	color: #333;
}

.btn--green {
	color: #fff;
	background: green
}

.btn--green:hover {
	color: #fff;
	background: rgb(0, 171, 0)
}


.error {
	color: red;
}

/* typography */
h1,
h2,
h3 {
	color: rgb(0, 0, 0);
	margin-bottom: 2rem;
}

h1 {
	font-size: 7rem;
}

h2 {
	font-size: 4.5rem;
}

h3 {
	font-size: 3.5rem;
}

p {
	font-size: 1.75rem;
	color: rgb(52, 52, 52);
}