main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    background: #fff;
    width: calc(fit-content + 1000px);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
}

.list__task {
    padding: none;
    font-size: 2rem;
    display: flex;
    margin: 10px 0;
}

.btn--green {
    position: relative;
    bottom: 8px;
    left: 10px;
}

form {
    border-top: 1px solid #000;
    padding-top: 10px;
}

form label {
    margin-right: 10px;
}