*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-primary: rgb(19, 56, 130);
	--color-secondary: rgb(125, 125, 251);
}

html {
	/* this makes the rem unit worth 10 pixels when using normal font size in browser */
	font-size: 62.5%;
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
}

.container {
	width: 100%;
	padding: 0 10rem;
}

@media screen and (max-width: 768px) {
	.container {
		padding: 0 10px;
	}
}
