*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.15s;
}

:root {
	--color-primary: rgb(44, 150, 255);
	--color-secondary: rgb(125, 125, 251);
}

html {
	/* this makes the rem unit worth 10 pixels when using normal font size in browser */
	font-size: 62.5%;
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
}

main {
	height: calc(100vh - 69px);
	background: rgb(255, 255, 255);
	background: radial-gradient(circle, rgba(255, 255, 255, 1) 12%, rgba(204, 204, 204, 1) 98%);
}

.container {
	width: 100%;
	padding: 0 10rem;
}

@media screen and (max-width: 768px) {
	.container {
		padding: 0 10px;
	}
}

.btn {
	padding: 10px 15px;
	font-size: 1.5rem;
	border-radius: 5px;
	width: calc(fit-content + 5px);
	border: 0;
	cursor: pointer;
	outline: none;
}

.btn--primary {
	color: #fff;
	background: var(--color-primary);
}

.btn--primary:hover,
.btn--primary:focus {
	background-color: rgb(112, 183, 255);
}

.error {
	color: red;
}
