{% extends 'layout.html' %} {% block title %} Home {% endblock %}

{% block css %}
    {% if session['user_id'] %}
    <link rel="stylesheet" href="../static/home.css">
    {% else %}
        <style>
            main .container {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            h1 {
                text-align: center;
            }

            a {
                width: fit-content;
            }
        </style>
    {% endif %}
{% endblock %}



{% block main %}
    <div class="container">
        {% if session['user_id'] %}
            <!-- TODO -->
        {% else %}
            <h1>Create an acount to get started!</h1>
            <a href="/register" class="btn btn--primary">register</a>
        {% endif %}
    </div>
{% endblock %}


