<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>myTodo: {% block title %}{% endblock %}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../static/index.css" />
		<link rel="stylesheet" href="../static/typography.css" />
		<link rel="stylesheet" href="../static/nav.css" />
		{% block css %}{% endblock %}
	</head>
	<body>
		<nav class="nav">
			<div class="container">
				<a href="/" class="nav__logo nav__link">myTodo</a>
				<ul class="nav__items">
					{% if session['user_id'] %}
					<li class="nav__item"><a href="/acount" class="nav__link">Acount</a></li>
					{% else %}
					<li class="nav__item"><a href="/register" class="nav__link">Register</a></li>
					<li class="nav__item"><a href="/login" class="nav__link">Log in</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<main>{% block main %} {% endblock %}</main>
	</body>
</html>
