{% extends 'layout.html' %} {% block title %} {{ list.list_name}} {{ error_code }} {% endblock %} {%
block css %}
<link rel="stylesheet" href="../static/css/list.css" />
<link rel="stylesheet" href="../static/css/form.css" />
{% endblock %} {% block main %}
<h1>{{ list.list_name }}</h1>
<div class="list">
	<ul>
		{% for task in tasks %}
		<li class="list__task">
			<p>{{ task.task_content }}</p>
			<form
				action="/lists/{{ list.list_id }}/remove_task/{{ task.task_id }}"
				method="post"
				class="complete-task-form"
			>
				<button type="submit" class="btn btn--green">complete</button>
			</form>
		</li>
		{% endfor %}
	</ul>
	<form action="/lists/{{ list.list_id }}" method="post">
		<label class="form__label" for="task">add task</label>
		<input
			class="form__input--solid"
			type="text"
			id="task"
			autocomplete="off"
			autofocus
			name="task"
		/>

		<button type="submit" class="btn btn--primary" id="add-task">add</button>
	</form>
</div>
<form action="/lists/remove-list/{{ list.list_id }}" method="post">
	<button class="btn btn--red-outline">Delete list</button>
</form>
{% endblock %}
