{% extends 'layout.html' %} {% block title %} Search {% endblock %} {% block css %}
<link rel="stylesheet" href="../static/css/form.css" />
<link rel="stylesheet" href="../static/css/search.css" />
<style>
	img {
		position: relative;
		top: 5px;
		margin-left: 10px;
	}
</style>
{% endblock %} {% block main %}
<div class="container">
	<div class="search-feild">
		<h1>Search for a task</h1>
		<input type="text" id="target" autocomplete="off" autofocus class="form__input--solid" />
	</div>
	<div class="lists" id="lists"></div>
</div>
<script src="../static/js/lookup.js"></script>
{% endblock %}
